---
import { getCollection, render } from 'astro:content';

export async function getStaticPaths()
{
    const projects = await getCollection('projects');

    return projects.map((project) => ({
        params: { id: project.id },
        props:  { project },
    }));
}

const { project } = Astro.props;
const { Content } = await render(project);
---

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>

    <body>
        <a href="#" onclick="history.back(); return false;">&larr; Back</a>

        <header>
            <h1>{ project.data.title }</h1>
        </header>

        <main class="project-content">
            <Content />
        </main>
    </body>
</html>
