---
import { getCollection, render } from 'astro:content';

export async function getStaticPaths()
{
    const projects = await getCollection('projects');

    return projects.map((project) => ({
        params: { id: project.id },
        props:  { project },
    }));
}

const { project } = Astro.props;
const { Content } = await render(project);
---

<html>
    <head>
        <meta charset="UTF-8">
        <title>{project.data.title}</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>

    <body>
        <a href="#" onclick="document.referrer.includes(window.location.hostname) ? window.history.back() : window.location.href = '/'; return false;">&larr; Back</a>

        <div class="project-page-title-container">
            <h1 style="border-bottom: none;">{project.data.title}</h1>
            { project.data.githubUrl &&
                <a class="project-page-link github-link" href={project.data.githubUrl} target="_blank" rel="noopener noreferrer">
                    See on GitHub: <img src="/assets/github-logo.svg" width="32" height="32" class="github-icon" />
                </a>
            }
        </div>

        <main class="project-content">
            <Content />
        </main>
    </body>
</html>
